/**
 * Sections: Featured collection
 * -----------------------------------------------------------------------------
 * Base styling for the featured collection product grid.
 *
 */

 $dark-blue: #003366;
 $light-gray: #BBBBBB;
 $body-text-gray: #9B9B9B;
 $white: #FFFFFF;

.featured-collection {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 100px 0;

    h2 {	
        color: $dark-blue;
        font-size: 36px;	
        font-weight: bold;	
        line-height: 44px;	
        text-align: center;
        margin-bottom: 0;
    }

    a {
        text-decoration: none;
    }

    .primary-button {
        color: $white;
        background-color: $dark-blue;
        font-size: 18px;	
        font-weight: bold;	
        line-height: 23px;	
        text-align: center;
    }

    .secondary-button {
        color: $dark-blue;
        background-color: $white;
        font-size: 18px;	
        font-weight: bold;	
        line-height: 23px;	
        text-align: center;
        width: 175px;
        height: 55px;
    }

    .collection-description {
        color: $body-text-gray;
        font-size: 18px;	
        font-weight: 300;	
        line-height: 26px;
        max-width: 611px;
        text-align: center;
        margin: 19px 0 41px 0;
    }
    
    .product-details {
        max-width: 306px;
    }
    
    .product-title {
        font-size: 21px;	
        font-weight: bold;	
        line-height: 26px;
        color: $dark-blue;
    }

    .product-price {	
        color: $light-gray;		
        font-size: 18px;	
        font-weight: 300;
        line-height: 26px;
    }

    .main-carousel {
        width: 100%;
        max-width: 100vw;
        overflow: hidden;
    }

    .carousel-cell {
        width: 24%;
        height: auto;
        margin: 0 20px;
        max-width: 306px;
    }

    .carousel-cell:hover {
        .secondary-button {
            opacity: 1;
            transition: opacity 0.5s ease;
        }
    }

    .flickity-button {
        background: transparent;
        border: none;
        position: relative;
    }

    .flickity-prev-next-button {
        width: 40px;
        height: 40px;
    }

    .flickity-button-icon {
        fill: $light-gray;
    }

    .flickity-prev-next-button.previous {
        left: 10px;
        top: -380px;
    }

    .flickity-prev-next-button.next {
        right: -94vw;
        top: -380px;
    }

    .flickity-page-dots {
        list-style: none;
        padding: 0;
        display: flex;
        width: 33px;
        justify-content: space-between;
        margin: 0 auto 50px auto;
        position: relative;
        top: -30px;
      }

    .flickity-page-dots .dot {
        width: 8px;
        height: 8px;
        opacity: 1;
        background:#D1D1D1;
        border-radius: 8px;
    }
      /* fill-in selected dot */
    .flickity-page-dots .dot.is-selected {
        background: #333333;
    }

    .card-container {
        width: 100%;
        height: 100%;
        min-width: 306px;
        text-align: center;

        .secondary-button {
            display: inline;
            opacity: 0;
            position: relative;
            top: -62px;
            padding: 11px 87px 14px 87px;
        }

        img {
            width: 100%
        }
    }

    .badge {
        height: 26px;	
        width: 56px;	
        color: $white;
        background-color: $dark-blue;	
        font-size: 14px;	
        font-weight: bold;	
        line-height: 17px;	
        text-align: center;
        z-index: 1;
        position: absolute;
        right: 52px;
        margin-top: 10px;
        padding-top: 4px;
    }

    .view-collection {
        padding: 15px 14px 18px 14px;
    }

    @media only screen and (max-width: 768px) {
        h2 {	
            font-size: 24px;	
            line-height: 29px;
        }
        .primary-button {
            
        }
    
        .carousel-cell {
            visibility: hidden;
            min-width: 306px;
            .secondary-button {
                display: none;
            }
            &.is-selected {
                visibility: visible;
            }
        }
        .collection-description {
            font-size: 14px;	
            line-height: 21px;
            margin: 8px 18px 28px 18px;
        }
        .flickity-prev-next-button {
            display: none;
        }
        .flickity-page-dots {
            margin: 50px auto 0 auto;
        }
        .flickity-slider {
            transform: translateX(3%);
        }
        .flickity-viewport {
            height: 596px;
        }
        .flickity-page-dots {
            width: 98px;
        }
    }
}
