{% comment %}
------------------------------------------------------------------------------
  Section: Featured collection
  - This the main section that you should be working on
  - Main styling is done in /styles/sections/featured-collection.scss
------------------------------------------------------------------------------
{% endcomment %}

<section class="featured-collection" data-section-id="{{ section.id }}" data-section-type="featured-collection">
  {%- assign collection = collections[section.settings.collection] -%}

  <h2>{{ collection.title | escape }}</h2>

  <p class="collection-description">{{ collection.description }}</p>

  <div class="main-carousel" data-flickity='{ "groupCells": false, "wrapAround": false}'>
    {% for product in collection.products limit: 6 %}
      {% assign current_variant = product.selected_or_first_available_variant %}
    
    <div class="carousel-cell">
      <a href="{{ product.url | within: collection }}">

          {% for tag in product.tags %}
          {% assign things = tag | split: ': ' %}
          {% if things[0] == 'badge' %}
            <div class="badge">{{ things[1] | capitalize }}</div>
          {% endif %}
          {% endfor %}

        <div class="card-container">
          {% if product.featured_image != blank %}
            {{ product.featured_image | img_url: 'large' | img_tag }}
          {% endif %}
          
          <span js-ajax-cart="addToCart" data-variant-id="{{ current_variant.id }}" data-quantity="1" class="secondary-button">Add to cart</span>
        </div>

        <div class="product-details">
          <p class="product-title">{{ product.title | escape }}</p>

          <span class="product-price">
            {% include 'product-price' %}
          </span>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  <a class="primary-button view-collection" href="/collections/womens-jeans">View Collection</a>
</section>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
